.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito";

  a {
    text-decoration: none;
    color: inherit;
  }

  &__left {
    h1 {
      font-family: 'Lobster';
      font-size: 30px;
      font-weight: 400;
    }
  }

  &__right {
    a {
      margin: 0 15px;
      font-weight: 700;
    }
  }
}

.form {
  font-family: "Ubuntu";

  &__header {
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 600;
      font-family: "Nunito";
    }
  }

  &__body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    margin: 40px 0;
  }

  &__notice {
    width: 33%;
    margin: 0 15px;
    text-align: center;
    margin-top: 15px;
  }

  &__form {
    width: 33%;
    margin: 0 15px;
  }

  &__item {
    margin: 15px 0;

    label {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: #eee;
    }

    input[type="submit"] {
      margin-top: 15px;
      font-size: 20px;
      font-weight: 500;
      font-family: "Ubuntu";
      cursor: pointer;
    }
  }
}