input {
  border: none;
  outline: none;
}

input:focus , input:active, input:target {
  outline: none;
  border: none;
}

.homepage__container {
  background-color: rgb(8,48,69);
  color: #fff;
  min-height: 100vh;
}

.nav__container {
  padding: 0 50px;
}

.form__container {
  margin-top: 50px;
}
